*.sock
/static/js/lib/MathJax-2.7.0
/static/.metadata
/app/db/bu
*.project
/.idea/
*~
*password*.txt

**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/vcs.xml
*.iws
.idea/gradle.xml
.idea/libraries
*.iml
*.xml
*.cpython-38.pyc
*.log
/db_server/
/app/db_client/
/venv/
/auth_cert/
/todo.txt
/setup.txt
/docs/_build
/GET_IP_CONFIG.sh
