{% extends "/RobotikII/base.html" %}
{% import '/macros/forms.html' as forms %}
{% import '/macros/easy_input.html' as input %}
{% import '/macros/buttons.html' as buttons %}
{% import '/macros/listings.html' as lists %}
{% import '/macros/textbox.html' as boxes %}
{% block window_title %}ReLab{% endblock %}
{% block head %}
<link rel='stylesheet' href='/static/css/lib/bootstrap-dialog.min.css' />
<script src="/static/js/lib/bootstrap-dialog.min.js"></script>
<script src="/static/js/lib/d3.v3.min.js"></script>
<script type="text/javascript" src="/static/js/lib/bootbox.min.js"></script>
<script type="text/javascript" src="/static/js/lib/janus.js"></script>
<script type="text/javascript" src="/static/js/lib/adapter.js"></script>
<script type="text/javascript" src="/static/js/lib/spin.min.js"></script>
<script type="text/javascript" src="/static/js/custom/RobotikII/stream.js"></script>
<link rel="stylesheet" href="/static/css/custom/control.css">
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js","[Contrib]/siunitx/siunitx.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script src="/static/js/lib/MathJax-2.7.0/MathJax.js"></script>
{% endblock %}
{% block title %}Control Interface{% endblock %}
{% block content %}
<div id="VideoControlPanel" class="row row-eq-height">
    <div id="video" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="row">
            <div class="container-fluid" id="stream"></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {{ buttons.choose_dd(native=0,links=['Delta','TCP'],native_value=1,id='camera_select') }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="vid_message" style="color:red;">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {{ buttons.choose_dd(native=1,links=['high','low (VPN)'],native_value=1,id='stream_select') }}
            </div>
        </div>
    </div>
    <div id="control_panel" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="row">
            <div class="panel panel-default"">
            <div class=" panel-heading">
                <h4 class="panel-title">
                    <span id="gly_exer1" class="glyphicon glyphicon-edit"></span> Identifikation <a class="pull-right"
                        id="clock" style="color:black; font-weight:bold; font-size:14px"></a>
                </h4>
            </div>
            <div id="identifikation" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            {{ buttons.choose_dd('Anregung',['Spirale', 'Fourier', 'Linear'],0,'dd-button') }}
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            {{ boxes.help('Bitte wählen Sie eine Trajektorie zur Identifikation aus und drücken Sie dann auf "Start".') }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="btn-group btn-group-lg" role="group">
                                {{ buttons.button('download1','Download',gly='glyphicon-download') }}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="pull-right">
                                <div class="btn-group btn-group-lg" role="group">
                                    <button id="home" type="button" class="btn btn-default">Home</button>
                                    <button id="start1" type="button" class="btn btn-primary start">Start</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row collapse" id="solution">
                        <hr>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <span class="help-block">Trage Sie Ihre identifizierten Parameter bitte in die
                                        folgenden Felder ein. Da die Lösung nur einmal übermittelt werden kann, sollten
                                        Sie Ihre Eingaben genau prüfen.</span>
                                </div>
                            </div>
                            <div class="row row-eq-height" style="height:45px;">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label>\(r_{\mathrm{c,}1}\) &nbsp</label><input class="number config" type="text"
                                        id="mu1" maxlength="9" size="5" gtp><label>\(\si{N.m}\)</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label>\(r_{\mathrm{c,}2}\) &nbsp</label><input class="number config" type="text"
                                        id="mu2" maxlength="9" size="5" gtp><label>\(\si{N.m}\)</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label>\(r_{\mathrm{c,}3}\) &nbsp</label><input class="number config" type="text"
                                        id="mu3" maxlength="9" size="5" gtp><label>\(\si{N.m}\)</label>
                                </div>
                            </div>
                            <div class="row row-eq-height" style="height:45px;">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label>\(r_{\mathrm{v,}1}\) &nbsp</label><input class="number config" type="text"
                                        id="d1" maxlength="9" size="5" gtp><label>\(\si[per-mode =
                                        fraction]{N.m.s\per\degree}\)</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label>\(r_{\mathrm{v,}2}\) &nbsp</label><input class="number config" type="text"
                                        id="d2" maxlength="9" size="5" gtp><label>\(\si[per-mode =
                                        fraction]{N.m.s\per\degree}\)</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label>\(r_{\mathrm{v,}3}\) &nbsp</label><input class="number config" type="text"
                                        id="d3" maxlength="9" size="5" gtp><label>\(\si[per-mode =
                                        fraction]{N.m.s\per\degree}\)</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    {{ buttons.button('send','Send',size="btn-lg", type="btn-default pull-right") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span id="gly_exer2" class="glyphicon glyphicon-edit"></span> Validierung
                </h4>
            </div>
            <div id="validation" class="container-fluid panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <span class="help-block">Testen Sie nun Ihre Parameter. Je genauer Sie das benötigte Moment
                            abbilden desto mehr Punkte erhalten Sie.</span>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="btn-group btn-group-lg" role="group">
                                {{ buttons.button('download2','Download',gly='glyphicon-download') }}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {{ buttons.button('start2','Test',size="btn-lg start",gly='glyphicon-star', type="btn-primary pull-right") }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<div style="position: relative; height:300px">
    <div id="left_input" style="height:300px; width:105px; position: absolute">
        <input type="text" class="custom-input pull-right" id="left_max" size="5" maxlength="5"
            value="{{ data['ranges'][0][1]}}" style="position: absolute; top:30px; right: 0px; text-align:right;" />
        <div style="position: absolute; top:98px; right: 0px;">
            {{ buttons.dd_axis(0,["\( A1 \)","\( A2 \)","\( A3 \)"], ["blue","blue","blue"], id="left_achse_button") }}
        </div>
        <div style="position: absolute; top:168px; right: 0px;">
            {{ buttons.dd_axis(0,data["names"], data["colors"], id="left_button") }}
        </div>
        <input type="text" class="custom-input pull-right" id="left_min" size="5" maxlength="5"
            value="{{ data['ranges'][0][0]}}" style="position: absolute; top:238px; right: 0px;  text-align:right;" />
    </div>
    <div id="realtimegraph" class="graph" style="height:300px; position: absolute; left: 105px;">
    </div>
    <div id="right_input" style="height:300px; width:105px; position: absolute; right: 0px;">
        <input type="text" class="custom-input" id="right_max" size="5" maxlength="5" value="{{ data['ranges'][1][1]}}"
            style="position: absolute; top:30px; left: 0px;" />
        <input type="text" class="custom-input" id="right_min" size="5" maxlength="5" value="{{ data['ranges'][1][0]}}"
            style="position: absolute; top:238px; left: 0px;" />
        <div style="position: absolute; top:98px; left: 0px;">
            {{ buttons.dd_axis(0,["\( A1 \)","\( A2 \)","\( A3 \)"], ["blue","blue","blue"], id="right_achse_button") }}
        </div>
        <div style="position: absolute; top:168px; left: 0px;">
            {{ buttons.dd_axis(1,data["names"], data["colors"], id="right_button") }}
        </div>
    </div>
</div>
{% endblock %}
{% block messages %}
{% endblock %}
{% block own_js %}
<script>
    var ranges = {{ data| safe }}["ranges"]
    var colors = {{ data| safe }}["colors"]
    function change_opacity() {
        change_graph(function () {
            var left_achse = parseInt($("#left_achse_button").val())
            var right_achse = parseInt($("#right_achse_button").val())
            var left = parseInt($("#left_button").val())
            var right = parseInt($("#right_button").val())

            //$('.dd_axis').each(function() {
            //	$('#data' + String($(this).val())).css("opacity", 1)
            //});
            $('#data' + String(left_achse * 6 + left)).css("opacity", 1)
            $('#data' + String(right_achse * 6 + right)).css("opacity", 1)
        });
    }

    $(".d_axis li a").click(function () {
        $('.group').css('opacity', 0)
        var dd_button = $(this).parent().parent().prev()
        if (!dd_button.is('button')) {
            if (dd_button.prev().is('button')) {
                dd_button = dd_button.prev();
            } else {
                alert('Wenden Sie sich bitte an den Systemadministrator.');
            }
        }
        dd_button.css('color', $(this).css('color'));
        dd_button.html($(this).html() + ' <span class="caret" style="color:black;"><span>');
        var index = $(this).parent().index()
        //dd_button = $(this).parent().parent().prev()
        dd_button.val(index);
        change_opacity();
        //update(_callback);
    });
</script>
<script src="/static/js/custom/input_number.js"></script>
<script src="/static/js/custom/RobotikII/lab2/chart_lab2.js"></script>
<script src="/static/js/custom/RobotikII/custom.js"></script>
<script src="/static/js/lib/socket.io.min.js"></script>
<script src="/static/js/custom/RobotikII/lab2/lab2.js"></script>
<script src="/static/js/custom/RobotikII/websocket.js"></script>
{% endblock %}
