{% extends "/RobotikII/base.html" %}
{% import '/macros/listings.html' as lists %}
{% import '/macros/forms.html' as forms %}
{% import '/macros/img_show.html' as img_show %}
{% block window_title %}ReLab{% endblock %}
{% block head %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js","[Contrib]/siunitx/siunitx.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script src="/static/js/lib/MathJax-2.7.0/MathJax.js"></script>
<link rel="stylesheet" href="/static/css/custom/img_show.css">
{% endblock %}
{% block title %}Labor 3{% endblock %}
{% block content %}
<div class="row row-eq-height">
	<div class="container">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#allgemein">Allgemeine Hinweise</a>
					</h4>
				</div>
				<div id="allgemein" class="panel-collapse collapse in">
					<div class="panel-body">
						<span class="help-block text-left">
							<p>Der Vorlesungsabschnitt "Bildgestützte Regelung" behandelt zwei Hauptthemen: Erstens die
								Kameramodellierung und -kalibrierung, sowie zweitens Verfahren des Visual Servoing. In
								diesem Versuch soll der Prüfstand mittels Kamera am Endeffektor bildgestützt an eine
								durch optische Marker definierte Zielposition gefahren werden. Alle nötigen Schritte
								werden im Rahmen dieses Laborversuchs durchlaufen, sodass am Ende das Verständnis des
								Zusammenspiels der einzelnen Elemente erreicht werden soll.</p>
							<p> Die wichtigsten Lernziele für diesen Versuch können wie folgt zusammengefasst werden:
							</p>
							<ul>
								<li>Erfahrungen in der Kamerakalibrierung</li>
								<li>Bestimmungen von Merkmalen im Bild</li>
								<li>Bildgestütze Bestimmung von Soll-Positionen des Endeffektors</li>
							</ul>
							<div class="row row-eq-height">
								<div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
								<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6"
									style="display:table-cell; vertical-align:bottom;">
									<img src="/static/img/RobotikII/Cam2.png" width="100%">
								</div>
								<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6"
									style="display:table-cell; vertical-align:bottom;">
									<img src="/static/img/RobotikII/Cam3.png" width="100%">
								</div>
								<div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
							</div>
							<div class="row row-eq-height">
								<div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
								<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
									<p class="text-center">Prinzipieller Aufbau zum Regelfehler</p>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
									<p class="text-center">Bildpunkte</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
							</div>
						</span>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#exer1">Aufgabe 1: Kamerakalibrierung</a>
					</h4>
				</div>
				<div id="exer1" class="panel-collapse collapse in">
					<div class="panel-body">
						<span class="help-block text-left">
							<p>Bevor eine bildgestützte Regelung implementiert werden kann, müssen zunächst die
								intrinsischen Kameraparameter geschätzt werden. Hierzu bieten sich Toolboxen, wie bspw.
								die von <a target="_blank"
									href="http://www.vision.caltech.edu/bouguetj/calib_doc/">Jean-Yves Bouguet</a> an.
								Diese Toolbox wird auch in der Hörsaalübung kurz demonstriert.</p>
							<p>
								In den <a href="/static/files/Labor3_KalibrierungVisualServoing.zip">Unterlagen für diesen
									Laborversuch</a> finden Sie bereits eine Version der Toolbox und das Matlab-Skript
								<i>Schritt1_Kamerakalibrierung.mlx</i> zur Kamerakalibrierung. Dadurch, dass die Kamera
								direkt am Endeffektor des Roboters verbaut ist und sich die Endeffektorplattform nicht
								gegenüber dem \(\mathrm{\left(KS\right)_0}\) verkippen kann, können leider keine
								Kalibrierbilder mit der am Prüfstand verbauten Kamera aufgenommen werden. Daher wurden
								vor Montage der Kamera einige Bilder zur Kamerakalibrierung (Schachbrett mit \(25
								\si{\milli\metre}\) Kästchenbreite) aufgenommenen, die in dem Ordner
								<i>\Bilder_Kamerakalibrierung</i> zur Verfügung stehen.
							</p>
							<ul>
								<li>Schauen Sie sich das Matlab-Skript zunächst an und machen Sie sich dann Schritt für
									Schritt mit der Durchführung der Kamerakalibrierung vertraut. Weitere Infos finden
									Sie sowohl in den Kommentaren im Matlab-Skript, wie auch auf der Homepage zur Kamera
									Calibration Toolbox.</li>
								<li>Führen Sie die Kamerakalibrierung zunächst für alle gegebenen Bilder durch.</li>
								<li>Analysieren Sie die Ergebnisse: Wie viele Iterationsschritte hat die Optimierung
									benötigt? Wie groß ist der Restfehler? Gibt es Bilder, die durch besonders große
									Rückprojektionsfehler auffallen?</li>
								<li>Führen Sie die Kamerakalibrierung so oft durch (bspw. in dem Sie gewisse Bilder aus
									der Kalibrierung entfernen), bis Sie einen Restfehler von weniger als \(\pm 1 px\)
									erreichen.</li>
							</ul>
							<p>Geben Sie anschließend Ihre ermittelten Parameter <a
									href="/RobotikII/rest/view/SI/labs/Labor 3">hier</a> ein, um Sie zu validieren.
								Ihnen steht hierfür eine begrenzte Anzahl an Versuchen zur Verfügung.</p>

						</span>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#exer2">Aufgabe 2: Merkmalsextraktion und bildgestützte
							Bewegung</a>
					</h4>
				</div>
				<div id="exer2" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="row row-eq-height">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<span class="help-block text-left">
									<p>Wie Sie vermutlich schon in den vorangegangenen Laborversuchen feststellt haben,
										ist auf dem Boden des Roboters die Projektion des \(\mathrm{\left(KS\right)_0}\)
										abgebildet. Mittels der Merkmale soll nun eine nötige Endeffektorbewegung
										\(\left(\Delta_\mathrm{x},\Delta_\mathrm{y}\right)\) berechnet werden, mit der
										von einer aktuellen Istposition zu einer gegebenen Sollposition verfahren werden
										kann. Für einen bildgestützten Regler wäre das der Regelfehler.
										Für diese Aufgabe steht Ihnen bereits ein Matlab-Skript zur Verfügung, dass den
										grundsätzlichen Aufbau vorgibt und bereits wichtige Funktionalitäten, wie die
										Merkmalsextraktion, beinhaltet.
									</p>
								</span>
							</div>
						</div>
						<div class="row row-eq-height">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								{{ img_show.img_show('/static/img/RobotikII/Lab31.png') }}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								{{ img_show.img_show('/static/img/RobotikII/Lab32.png') }}
							</div>
						</div>
						<div class="row row-eq-height">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<span class="help-block text-left">
									<p>Ihre Aufgabe lautet:</p>
									<ul>
										<li>Leiten Sie eine Formel her, mit der Sie die Sensorkoordinaten in
											Kamerakoordinaten umrechnen können. Nutzen dafür das bekannte
											Lochkameramodell mit der Annahme, dass der Scherungswinkel \(\alpha = 0
											\si{\degree}\) ist. Sie können für Ihre Berechnungen zusätzlich folgendes
											voraussetzen:
											<ul>
												<li>Der Kreismittelpunkt in Sensorkoordinaten, der Kreisradius in Pixel
													sowie weitere Parameter (siehe Matlab-Skript) werden automatisch aus
													dem Bild extrahiert und sind für Sie daher als bekannt anzunehmen.
												</li>
												<li>Falls die Farberkennung (z.B. aufgrund außergewöhnlicher Lichtverhältnisse) 
													nicht zuverlässig funktionieren sollte, können Sie die Schwellwerte in den 
													entsprechenden Skripten (<i>\Toolboxen\FunktionenVisualServoing\createMask_blue.m,
													 [...]_green.m, [...]_red.m</i>) mithilfe der Matlab-Toolbox 'colorThresholder app'
													  anpassen. 
												</li>
												<li>Der reale Kreisdurchmesser lautet \(d_\mathrm{orig}=55
													\si{\milli\metre}\) und soll Ihnen helfen, die richtige Skalierung
													zu wählen.</li>
											</ul>

										</li>
										<li>Implementieren Sie den hergeleiteten funktionalen Zusammenhang zwischen
											Sensor- und Kamerakoordinaten in der Datei
											<i>TransformationInKameraKoordinaten.mlx</i>, im Ordner <i>\Toolboxen\
												FunktionenVisualServoing</i>.</li>
										<li>Scrollen Sie zum Ende des Matlab-Skriptes und geben Sie eine Formel an, mit
											der die nötige Endeffektorbewegung, um von der Ist- zur Sollposition zu
											kommen, aus den berechneten Positionen der Kreismittelpunkte bestimmt wird.
										</li>
										<li>Testen Sie Ihre Lösung anhand der Bilder in <i>\Bilder_VisualServoing</i>.
										</li>
										<li>Starten Sie den ReLab Versuch und der Roboter wird in eine zufällige
											Startposition verfahren. Laden Sie das Bild der Endeffektorkamera herunter
											und speichern Sie die Datei.</li>
										<li>Öffnen Sie das Matlab Skript <i>Schritt2_GrundideeVisualServoing.mlx</i> und
											geben Sie die Dateinamen der Bilder an der richtigen Stelle an.</li>
										<li>Testen Sie die berechnete Regeldifferenz in Endeffektorkoordinaten am
											Versuchsstand.</li>
										<li>Erreichen Sie die gewünschte Ziellage, erhalten Sie entsprechend Ihrer
											Genauigkeit Punkte und können die neuen Zielpositionen im Anschluss mit dem
											roten Fadenkreuz vorgeben.</li>
									</ul>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- The Modal -->
{% include '/includes/modal_show.html' %}
{% endblock %}
{% block own_js %}
<script src="/static/js/custom/img.js"></script>
{% endblock %}
