<div id="modal_expl" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span
						class="sr-only">close</span></button>
				<h4 id="modalTitle" class="modal-title">Information zum Rückführvektor</h4>
			</div>
			<div id="modalBody" class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<p>
							Der Rückführvektor beinhaltet für den Schlitten negative und für das Pendel positive Werte.
							Dies liegt
							in den Systemeigenschaften begründet. Der Schlitten kann nicht bewegt werden, ohne das
							Pendel zu beeinflussen. Daher ist es je nach Konstellation zweckdienlich, den Schlitten
							zuerst in die falsche Richtung auszulenken, um nachfolgend beim Rückweg sowohl den Schlitten
							als auch das Pendel in die Nullposition zu bringen. Ist der Schlitten weit ausgelenkt,
							kann er nicht entsprechend schnell beschleunigt zur Nullposition fahren und gleichzeitig das
							Pendel stabilisieren. Die Auslenkung in die Falsche Richtung führt zu einem leichten Kippen
							des Pendels, sodass nachfolgend ohne Stabilitätsverlust die Nullposition angefahren werden
							kann.
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row hidden-xs">
					<div class="col-lg-8 col-md-8 col-sm-8"></div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="btn-group btn-group pull-right" role="group">
							<button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
							<button id="book-btn" class="btn btn-primary book-btn">Buchen</button>
						</div>
					</div>
				</div>
				<div class="visible-xs-block">
					<div class="row">
						<div class="col-xs-12">
							<div class="btn-group btn-group pull-right" role="group">
								<button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
								<button id="book-btn" class="btn btn-primary book-btn">Buchen</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>