.nav .area {
    	fill: lightgrey;
    	stroke-width: 0px;
  	}
 .nav .line {
    	fill: none;
    	stroke: darkgrey;
    	stroke-width: 1px;
  	}
 .top-buffer { margin-top:20px; }
 .graph .axis .tick line {
        stroke: black;
        }

 .graph .axis .tick text {
        fill: black;
        font-size: 1.0em;
        }

 .graph .axis .domain {
        fill: none;
        stroke: black;
        }

.graph .group {
        fill: none;
        stroke: black;
        stroke-width: 1.5;
        }
